body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

#shape {
    width: 600px;
    height: 600px;
    margin: auto;
    background: red;
    transition: clip-path 0.8s ease, transform 0.8s ease;
}
