body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background: #fafafa;
}

#shape {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background: #4287f5;
    transition:0,25s;
    will-change: clip-path, border-radius, transform;
}
