body {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style:normal;
    text-align: center;
    padding: 40px;
    background: #fafafa;
}

#shape {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background: #4287f5;
    transition:
    clip-path 0.8s ease-in-out,
    border-radius 0.8s ease-in-out,
    background 0.4s ease,
    transform 0.8s ease-in-out;
    will-change: clip-path, border-radius, transform;
}

#presetShape{
  display: flex;
  align-items: center;
  border: 3px solid #333; /* Bright or contrast border */
  border-radius: 50px;    /* Rounded corners */
  padding: 10px 20px;
  background-color: white;
}
#colorPicker{
  display: flex;
  align-items: center;
  border: 3px solid #333; /* Bright or contrast border */
  border-radius: 50px;    /* Rounded corners */
  padding: 10px 20px;
  background-color: white;
}
#colorText{
  display: flex;
  align-items: center;
  border: 3px solid #333; /* Bright or contrast border */
  border-radius: 50px;    /* Rounded corners */
  padding: 10px 20px;
  background-color: white;
}
#numberInput{
  display: flex;
  align-items: center;
  border: 3px solid #333; /* Bright or contrast border */
  border-radius: 50px;    /* Rounded corners */
  padding: 10px 20px;
  background-color: white;
}
#angleInput{
  display: flex;
  align-items: center;
  border: 3px solid #333; /* Bright or contrast border */
  border-radius: 50px;    /* Rounded corners */
  padding: 10px 20px;
  background-color: white;
}


.search-input {
  border: none;
  outline: none;
  font-size: 20px;       /* Large font */
  width: 100%;
}

.search-button {
  background-color: #ff7675; /* Friendly, bright color */
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Add a playful hover effect */
.search-button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
